.Search {
  position: relative;
  height: 2.25rem;
}

.Search input[type="search"] {
  padding: .5rem;
  font-size: 1rem;
  border: 0px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px 0px inset;
  padding-right: 3rem;
  width: 30rem;
  color: black;
}

.Search .list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid var(--phrase-color);
  max-height: 12.5rem;
  overflow-y: auto;
  background-color: var(--backgroud-color);
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  color: var(--phrase-color);
  border-radius: 0px 10px;
}

.Search .list li {
  padding: 8px;
  cursor: pointer;
}

.Search .list li:hover {
  background-color: var(--primary-color);
}
