.container-comentario {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinhar à esquerda */
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* Estilo do formulário */
.form-comentario {
  position: relative;
  right: 24rem;
  display: flex;
  flex-direction: column; /* Mantém os itens empilhados */
  align-items: flex-end;
  top: 2rem; /* Garante que o formulário ocupe a largura total disponível */
}

.comentarios {
  position: relative;
  right: 6.5rem;
  max-width: 800px;
  height: 100px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 15px;
  min-width: 50rem;
  background-color: var(--backgroud--color);
  resize: none;
}

.btn-submit {
  position: relative;
  right: 6.9rem;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #218838;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinhar slider à esquerda */
  margin-bottom: 20px;
}

.slider {
  width: 100%;
  max-width: 600px;
}

.slider-label {
  font-size: 16px;
  margin-bottom: 10px;
}

.rating-value {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
