.container-estrelas {
  position: relative;
  right: 43.5rem;
  top: 2rem;
  padding: .3rem;
  background: var(--primary-color);
  border-radius: 50px;
}
.star-rating {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.star {
  font-size: 2.5rem;
  color: var(--second-color);
  transition: color 0.2s;
}

.star:hover,
.star.filled {
  color: var(--phrase-color);
}
