.BarraNav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.cabecario .icon {
  color: black;
  height: 3rem;
  width: 2rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
